<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpsBinding_IService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
          <wsHttpBinding>
            <binding name="WSHttpBinding_IService1" messageEncoding="Mtom" maxReceivedMessageSize="999999999" >

              <readerQuotas  maxArrayLength="999999999"   maxStringContentLength="999999999"   />
            </binding>
          </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.166.143.76:8080/NewSpotyHitss/Service1.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
                contract="SpotyHitssProxy.IService1" name="WSHttpBinding_IService1" />
            
        </client>
    </system.serviceModel>
</configuration>